/* COMENZAR A PERSONALIZAR EL APARTADO DE -NOSOTROS- */


h1 {
    color: var(--carta2-color);
    text-align: center;
    font-size: 28px;
   }
   

h2 {
    color: var(--carta7-color);
}

.A-Nosotros {
    display: flex;
    /* Habilita Flexbox */
    flex-direction: row-reverse;
    /* Alinea elementos en fila */
    justify-content: space-between;
    /* Espacio entre imagen y texto */
    align-items: center;
    /* Alinea verticalmente */
    gap: 15px;
    /* Espacio entre imagen y texto */
    padding: 20px;
}


.imgnosotros {
    width:40% ;

    border-radius: 8px;
    filter: saturate(1.2);

}




/* filter:drop-shadow(0 0 0.75rem green); */