:root {
    --carta1-color: #F2A0CD;
    --carta2-color: #F25EE8;
    --carta3-color: #49F2B4;
    --carta4-color: #91F2C5;
    --carta5-color: #8C4820;
    --carta6-color: #8C4608;
    --carta7-color: #b86abe;
    --carta8-color: #a154a5;
    --carta9-color: #93437d;
}
/* !PRIMER APARTADO: HEADER CON NAV */

html {
    scroll-behavior: smooth;
}


body {
    background-color: #fee5f0;
    /* background-color: #efefef; */
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
}

header {

    display: flex;
    /* Para alinear elementos en una fila */
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: space-between;
    /* Espacio entre el logo y el menú */
    padding: 10px 20px;
    background: linear-gradient(to right, var(--carta2-color), var(--carta1-color));
    color: white;
    /* border-radius: 8px; */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 120px;

}

.logo {
    margin-right: auto;
    filter: saturate(1.2);
    filter: drop-shadow(0 0 0.75rem var(--carta7-color-color));
    /* Asegura que el logo permanezca a la izquierda */
}


.CENTRAR {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los enlaces */
    gap: 70px;
    /* Espacio entre los enlaces */
    flex-grow: 4;
    /* Permite al menú ocupar todo el espacio restante */
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: #8aff66;
    /* Color en hover */
    transition: color 0.3s ease;
}



header h1 {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}


main {
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FFF;
}

.menu {
    text-align: center;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
}

.intro h2 {
    font-size: 24px;
    color: var(--carta8-color);
}

.intro p {
    font-size: 16px;
    color: var(--carta9-color);
}



.menu h2 {
    font-size: 24px;
    color: var(--carta7-color);
    margin-bottom: 20px;
}

.card-container {

    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.card {
    width: 290px;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    filter: saturate(1.2);
}

.card p {
    font-size: 16px;
}


/*! SEGUNDO APARTADO: CARRUSEL */


/* Estilo basico para la galeria */
figure {
    margin:0;
}

#gallery {
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    position: relative; /* necesario para los botones de navegación */
}


.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}


.gallery-item img {
    width: 100%;
    height: 100vh;
   
}

/* Navegacion de la galeria */
.gallery-navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.nav-button {
    background-color: rgba(0,0,0, .3);
    color: var(--carta2-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.nav-button > span {
    font-size: 30px;
}
.nav-button:hover {
    background-color: var(--carta1-color);
}


/* TERCER APARTADO: WAFLE CON BREVE DESCRIPCION */


.waffle {
    /* FONDO CAFE */
    border-radius: 8px;
    background-color: #8C4608;
    padding: 10px;
    margin: 20px auto;
    height: 630px;


    /* TODO LO QUE HAY DENTRO DEL MAIN */

    .contenido {
        display: flex;
        align-items: start;
        /* Centra verticalmente la imagen y el texto */
        justify-content: space-around;
        text-align: center;
        /* Espacia uniformemente el texto y la imagen */
        gap: 10%;
        border-radius: 8px;


        .texto h1 {
            font-size: 38px;
            color: rgb(255, 255, 255);
            /*      1.TOP 2.RIGTH 3.BOTTOM 4.LEFT */
            margin: 0 0 20% 0;
            align-items: start;
            padding: 20px 10px;
        }

        p {
            font-size: 20px;
            color: white;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
        }


        img {
            filter: saturate(1.2);
            border-radius: 8px;
            width: 300px;
            height: 600px;
        }

    }

}


/* TERCER APRTADO: INSTRAGRAM Y TIKTOK */

.instragram {

    background-color: #fecce3;
    color: black;
    text-align: center;
    height: 620px;
    border-radius: 8px;


    .contenido-fotos {
        filter: saturate(1.3);
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
        align-items: center;
        text-align: center;



        .PE1 {
            position: relative;
            width: 300px;
            height: 250px;
            bottom: 80px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);


        }

        .N {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
            position: relative;
            width: 300px;
            height: 450px;
            top: 50px
        }

        .PE2 {
            position: relative;
            width: 300px;
            height: 250px;
            bottom: 80px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);

        }

    }
}


/* FIN DE LA PAGINA WEB  */


footer {

    background-color: var(--carta7-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

footer a {
    filter: drop-shadow(0 0 0.75rem var(--carta3-color));
    color: white;
    text-decoration: none;
    font-size: 1em;

}

footer a:hover {
    text-decoration: underline;
}

footer .redes-sociales {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;


    .i1 {
        position: relative;
        text-align: center;

    }

    .i2 {
        text-align: center;

    }


    .i3 {
        text-align: center;

    }
}