* {
    margin: 0;
    box-sizing: border-box;
}

.img {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}


@media (max-width: 600px) {
    body {
        background-color: black;
    }
}


@media (min-width: 600px) {
    body{
        background-color: steelblue;
    }
}



@media (min-width:800px) {
    .img {
        width: 50%;
    }
}